<!DOCTYPE html>
<html>
<head>
    <title>코인 전략 선택</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/test.js"></script>
</head>
<body>
    <header>
        <h1>Bit4Coin</h1>
    </header>
    <div id="container">
        <form method="get" action="/markets">
            <button type="submit">마켓 보기</button>
        </form>
        <form id="balance_form">
            <button type="submit">Balance</button>
        </form>
        <div id="balance"></div>

        <form id="curPrice_form">
            <input type="text" name="symbol" id="symbol"> <!--name의 값이 form이랑 같아야함-->
            <button type="submit">Current Price</button>

        </form>
        <div id="cur_price"></div>

        <form method="post" action="/enter_position">
            <label for="symbol"> symbol : </label>   
                <input type="text" id="symbol" name="symbol">
            <label for="purchase_percent"> purchase_percent : </label>
                <input type="text" id="purchase_percent" name="purchase_percent">
            <label for="target"> target( 1: long / -1 : short) : </label>
                <input type="text" id="target" name="target" >
            <button type="submit">enter position</button>

        </form>
        <div id="enter_result"></div> 
    </div>
</body>
</html>
