body {
    width: 360px;
    height: 772px;
}
header {
    border-bottom: 3px solid black;
    text-align: center;
    font-size: 35px;
    padding-left: 40px;
    padding-bottom: 5px;
}
#img_setting {
    float: right;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 5px;
}
main {
    height: 605px;
    position: relative;
}
#symbol_name {
    text-align: center;
    font-size: 25px;
}
#graph {
    text-align: center;
}
#img_graph {
    width: 280px;
    height: 180px;
}

.container {
    width: 300px;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 30px;
}
#section_input{
    width: 30%;
    margin-left: 15px;
}

#section_input .input_info {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#section_input select {
    width: 130px;
    height: 30px;
}

#section_desc {
    width: 30%;
    margin-left: 30px;
}
#enter {
    width: 300px;
    height: 30px;
    margin-top: 80px;
}
#description {
    border: 1px solid gray;
    width: 130px;
    height: 210px;
    font-size: 10px;
    text-align: center;
    display: flex; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


#enter:hover {
    box-shadow: 3px 4px 11px 0px #00000040;
}

/*모달 팝업 영역 스타일링*/
.modal_detail {
/*팝업 배경*/
    display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal_detail #detail_popup {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    font-size: 10px;
}
.modal_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.modal_detail #detail_popup #close_detail {
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.modal_detail #detail_popup #enter_position {
    display: block;
    padding: 10px 20px;
    background-color: rgb(204, 255, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}


/* 포지션 스탑을 위한 모달 페이지 */
.modal_in_position {
    display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
    
.modal_in_position #popup_in_position {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    font-size: 15px;
}

#stop_position {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(204, 255, 0);
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: box-shadow 0.2s;
}



footer {
    display: flex;
    border-top: 3px solid black;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 5px;
}

footer img {
    width: 40px;
    height: 40px;
}


#strategy-symbol {
    text-align: center;
}