body {
    width: 360px;
    height: 772px;
}
header {
    border-bottom: 3px solid black;
    text-align: center;
    font-size: 35px;
    padding-left: 40px;
    padding-bottom: 5px;
}
#img_setting {
    float: right;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 5px;
}
main {
    height: 605px;
} 
img {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    border-top: 3px solid black;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 5px;
}

footer img {
    width: 40px;
    height: 40px;
}
