body {
    font-family: Arial, sans-serif;
}
.market-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.market-item {
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 10%;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.market-item:hover {
    background-color: #bebebe;
    border: 2px solid #ccc;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-container {
    margin: 20px;
}
.search-input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.goto-main {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #acabab;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.goto-main:hover {
    background-color: #5f5f5f;
}   