<!DOCTYPE html>
<html>
<head>
    <title>코인 전략 선택</title>
    <link rel="stylesheet" type="text/css" href="../static/goto.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/home.js"></script>
</head>
<body>
   <header>
    Bit4Coin
    <img src="../static/img/setting.png" alt="" id="img_setting">
   </header>
   <main>
    <img src="../static/img/binance_logo.png" alt="">
    <img src="../static/img/tradingview_logo.png" alt="">
    <img src="../static/img/receipt.png" alt="">
    <img src="../static/img/github_logo.png" alt="">
   </main>


<!-- 이미지 -->
   <footer>
    <img src="../static/img/arrow.png" alt="" onclick="goTo('ETC')">
    <img src="../static/img/symbols.png" alt="" onclick="goTo('symbols')">
    <img src="../static/img/home.png" alt="" onclick="goTo('home')">
    <img src="../static/img/receipt.png" alt="" onclick="goTo('receipt')">
    <img src="../static/img/mypage.png" alt="" onclick="goTo('mypage')">
   </footer>
</body>

</html>
