<!DOCTYPE html>
<html>
<head>
    <title>코인 전략 선택</title>
    <link rel="stylesheet" type="text/css" href="/static/history.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/history.js"></script>
</head>
<body>
   <header>
    Bit4Coin
    <img src="/static/img/setting.png" alt="" id="img_setting" onclick="goTo('setting')">
   </header>
   <main>
    

   </main>


<!-- 이미지 -->
   <footer>
    <img src="/static/img/arrow.png" alt="" onclick="goTo('goto')">
    <img src="/static/img/symbols.png" alt="" onclick="goTo('symbols_info')">
    <img src="/static/img/home.png" alt="" onclick="goTo('home')">
    <img src="/static/img/history1.png" alt="" onclick="goTo('history')">
    <img src="/static/img/mypage.png" alt="" onclick="goTo('mypage')">
   </footer>
</body>

</html>
