<!DOCTYPE html>
<html>
<head>
    <title>코인 전략 선택</title>
    <link rel="stylesheet" type="text/css" href="./static/symbols_info.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./static/symbols_info.js"></script>
   <style>
  
   </style>
</head>
<body>
   <header>
    Bit4Coin
    <img src="./static/img/setting.png" alt="" id="img_setting" onclick="goTo('setting')">
   </header>
   <main>
    <div class="container">
      <table class="crypto-table">
        <thead>
            <tr>
                <th>Symbols</th>
                <th>Current Price</th>
                <th>시가대비</th>
            </tr>
        </thead>
        <tbody id="crypto-prices">
            <!-- Data will be inserted here -->
        </tbody>
      </table>
    </div>
   </main>


<!-- 이미지 -->
   <footer>
    <img src="./static/img/arrow.png" alt="" onclick="goTo('goto')">
    <img src="./static/img/symbols1.png" alt="" onclick="goTo('symbols_info')">
    <img src="./static/img/home.png" alt="" onclick="goTo('home')">
    <img src="./static/img/history.png" alt="" onclick="goTo('history')">
    <img src="./static/img/mypage.png" alt="" onclick="goTo('mypage')">
   </footer>
</body>
<script>

</script>
</html>
